body {
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;

	/*fondo responsivo*/
	background: url(../images/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header {
	background: #fffcc1;
	padding: 20px;
	box-shadow: 0 3px 3px #ccc; /* box-shadow: pixel-derecha pixel-abajo blur #color; */
}

ul li {
	list-style: none; /*Quita los bullets de mi lista*/
	display: inline-block;
	margin-right: 20px;
	cursor: pointer;
}

ul li:hover, .active {
	transition: 0.5s;
	color: #ccc;
	text-shadow: 2px 2px 10px BLUE;
}

h2 { color: RED; }

.content h2 { color: BLUE; }

.content {
	width: 90%;
	max-width: 900px;
	background: rgba(220, 220, 220, 0.7);
	margin: auto;
	margin-top: 30px;
	padding: 20px 10px;
	border-radius: 4px;
	/*
		border-bottom-left-radius: 
		border-top-left-radius: 
		border-bottom-right-radius: 
		border-top-right-radius: 
	*/
}

/*Modal*/
.myModal {
	display: none;
	background: rgba(0,0,0,0.7);
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 99999;
}

.contentModal {
	position: absolute;
	background: #fff;
	color: #333;
	width: 500px;
	height: 400px;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.myModal .close {
	position: absolute;
	width: 30px;
	height: 30px;
	background: #fff;
	text-align: center;
	cursor: pointer;
	right: -15px;
	top: -15px;
	border-radius: 15px;
	border: 1px solid #ccc;
}
/*fin modal*/

.cuadrado {
	display: inline-block;
	width: 20%;
	margin-left: 2%;
	margin-right: 2%;
	height: 100px;
	background: #ccc;
	border: 1px solid #000;
}


@media only screen and (max-width: 550px)
{
	.contentModal {
		width: 250px;
	}
}

@media only screen and (max-width: 524px)
{
	.cuadrado {
		width: 49%;
		margin-left: initial;
		margin-right: initial;
	}
}

@media only screen and (max-width: 320px)
{
	.contentModal {
		background: #000;
		color: #ccc;
	}
	.content {
		width: 100%;
	}
	.cuadrado {
		width: 100%;
	}
}

















